body {
	background: yellow;
}

div {
	width: 100px;
	height: 100px;
}

#player1 {
	background: green;
}

#player2 {
	background: blue;
	position: absolute;
	top: 200px;
}

#finish {
	background: red;
	position: absolute;
	left: 800px;
}