body {
  background: url(1.jpg) no-repeat center center fixed;
   -webkit-background-size: cover; /* For WebKit*/
   -moz-background-size: cover;    /* Mozilla*/
   -o-background-size: cover;      /* Opera*/
   background-size: cover;
   padding-top: 85px;

}

h1 {
  font-family: 'Barrio', cursive!important;
  font-size: 60px!important;
}

div#bunny-lane {
  margin-top: 50px;
}

div.bunny {
  position: absolute;
  background-color: #FBC1D5;
  left: 50px;
  width: 90px;
  height: 90px;
  margin: 15px;
}

div#turtle-lane {
  margin-top: 150px;
}

div.turtle {
  position: absolute;
  background-color: #D6FBCB;
  left: 50px;
  width: 90px;
  height: 90px;
  margin: 15px;
}
